<%= form_tag "/albums" do %>

  <div>
    <label for="title">Title:</label>
    <input size="80" name="title" id="title" placeholder="Example: Born In The U.S.A.">
  </div>

  <div>
    
    <label for="artist">Artist:</label>
    <input size="40" name="artist" id="artist" placeholder="Example: Bruce Springsteen">
  </div>

  <div>
    <label for="year">Year:</label>
    <input size="4" name="year" id="year">
  </div>

  <div>
    <label for="poster_url">Link to Poster:</label>
    <input size="80" name="poster_url" id="poster_url" type="url">
  </div>

  <input type="submit" name="commit" value="Add Album">

<% end %>





